* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: #111; /* Dark background for the canvas to be visible */
}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}

canvas#gameCanvas {
  display: block; /* Removes extra space below canvas */
}
